*{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.container {
    display: block;
    max-width: 1440px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
button {
        border: 0;
        padding: 0;
        a {
            span {
                color:#52503B;
            }
        }
     }
.main__button {
    height: 53px;
    color:#FFFFFF;
    border-radius: 8px;
    box-shadow: none;
    width: 132px;
 }
.main__line {
        height: 8px;
        width: 42px;
        background: #E08631;
        margin: 0 auto;
}
.main__block{
    width: 100px;
    height: 100px;
}


.navigation {
    width: 100%;
    background-color: #52503B;
    max-height: 80px;
    min-width: 100%;
    &__main{
        display: grid;
        grid-template-columns: 2.5fr 1.5fr 2.5fr;
        justify-self: center;
        align-self: center;
        button {
            margin-left: 280px;
            margin-top: 13px;
        }
    }
    &__logo{
        margin: 18px 0px 18px 140px;
    }
    &__menu{
        margin-top: 13px;
        max-width: 332px;
        &_li {
        list-style-type: none;
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr 1fr 1.5fr;
        justify-content: center;
        li span{
            color: #FFFFFF;
        }
        }
     }
}
.banner {
        background: url('../img/background_main.png') center center/cover no-repeat ;
        min-height: 700px;
        min-width: 100%;
        color: #FFFFFF;
    &__items{
        text-align: center;
    }
    &__bg{
        height: 168px;
    }
    &__logo {
        img {
            width: 256px;
            height: 90px;
        } 
    }
    &__maintext{
        margin-top: 40px;
        font-style: normal;
        font-size: 48px;
    }
    &__srctext {
        margin-top: 35px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    &__bottomlogo{
        margin-top: 120px;
    }
}
.descript {
    background: #FAF8F0;
    &__bg {
        height: 100px;
        width: 100px;
    }
    &__block {
        margin: 0 auto;
        margin-top: 34px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 800px;
        justify-items: stretch;
        gap: 35px;
        }
    &__item{
        max-width: 360px;
        margin-bottom: 90px;
        button {
            margin-top: 30px;
            background:#52503B;
            span {
                color:#FFFFFF
            }
        }
    }
}
.bigtext {
    margin-top: 80px;
    &__text{
        font-weight: 700;
        line-height: 96px;
        text-align: center;
        color: #52503B;
        font-size: 96px;
        margin-top: 32px;
    }
    &__bg {
        margin-top: 100px;
        width: 100%;
        background: url("../img/background middle.png");
        height: 600px;
    }
}
.arrang {
    background: #FAF8F0;
    min-height: 530px;
    &__text{
        margin-top: 30px;
        color:#52503B;
        font-size: 32px;
        text-align: center;
        line-height: 36px;
    }
    &__src {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        max-width: 554px;
        line-height: 24px;
        text-align: center;
        color: #52503B;
        font-size: 16px;
    }
    &__block {
        width: 1200px;
        display: grid;
        margin: 0 auto;
        margin-top: 32px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 60px;
        &_items {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            &_img {
                margin-top: 36px;
            }
            &_src {
                margin-top: 14px;
                font-size: 16px;
                text-align: center;
                line-height: 24px;
            }
            &_descr {
                text-align: center;
                margin-top: 4px;
            }
        }
    }
}


